*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
.posts-list{
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
}
p{
  font-size: 20px;
  border-bottom: solid 2px #bbbbbb;
  padding-bottom: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
header{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.89);
}
.title{
  display: inline-block;
  padding: 0 30px;
  border-bottom: 3px solid rgba(91, 90, 90, 0.583);
  color: #000000;
}
.form{
  text-align: center;
  margin-top: 20px;
}
.button{
  display: inline-block;
  border-radius: 10%;
  font-size: 15px;
  padding: 3px 15px;
  border: 2px solid #abababf5;
  background: #abababf5;
  color: #1a1818;
  margin-top: 5px;
}
.button:hover{
  border: 2px solid rgb(69, 69, 69);
  background: rgb(69, 69, 69);
  color: #ffffff;
}
.post-content{
  padding-top: 20px;
  text-align: center;
  border-top: solid 2px #c0c0c0;
}


